  html, body{
      margin: 0;
      padding: 0;
      width: 0;
    }
body{
    height: 100vh;
    background:#3a3a44
}
button {
    background: none;
    color: cadetblue;
    width: 29%;
    border: 1% solid #338033;
    font-size: 130%;
    border-radius: 0%;
    transition: .6s;
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translate(-50%, - 50%)
}
button1 {
    background: none;
    color: red;
    width: 29%;
    border: 1% solid #338033;
    font-size: 130%;
    border-radius: 0%;
    transition: .6s;
    position: absolute;
    top: 100%;
    left: 36%;
    transform: translate(-50%, - 50%)
}
.UberschriftInhalt{
    width: 23%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 38%;
    transform: translate(-50%, - 50%)
}
.Aufzahlung{
    width: 32%;
    height: 100%;
    position: absolute;
    top: 22%;
    left: 32%;
    transform: translate(-50%, - 50%)

}
.Unten{
    width: 52%;
    height: 100%;
    position: absolute;
    top: 96%;
    left: 1%;
    transform: translate(-50%, - 50%)
}
.RechteKuh{
    width: 0%;
    height: 10%;
    position: absolute;
    top: 0%;
    left: 75%;
    transform: translate(-50%, - 50%)
}
