var siteWidth = 1280;
var scale = screen.width /siteWidth;
document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+siteWidth+', initial-scale='+scale+'');

  html, body{
      margin: 0;
      padding: 0;
      width: 0;
    }
body{
    height: 100vh;
    background:#3a3a44
}
button {
    background: none;
    color: cadetblue;
    width: 220px
    border: 1px solid #338033;
    font-size: 20px;
    border-radius: 4px;
    transition: .6s;
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translate(-50%, - 50%)
}
.UberschriftInhalt{
    position: absolute;
    top: 0%;
    left: 38%;
    transform: translate(-50%, - 50%)
}
.Aufzahlung{
    position: absolute;
    top: 23%;
    left: 34%;
    transform: translate(-50%, - 50%)

}
.Unten{
    position: absolute;
    top: 96%;
    left: 1%;
    transform: translate(-50%, - 50%)
}
.RechteKuh{
    position: absolute;
    top: 0%;
    left: 75%;
    transform: translate(-50%, - 50%)
}
